.category-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vw;
    text-shadow: 1vw 1vw violet;
    text-align: center;
    background-image: url("../asset/redvelvet-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    margin-bottom: 5vw;
}